<!DOCTYPE html>
<html>
    <head>
        <title>Cooperativa - UNIVAG</title>
    </head>

    <body>
        <a href="{{ path('sonata_admin_redirect') }}">Ir para área administrativa</a>
    </body>
</html>